 @import url("https://fonts.googleapis.com/css?family=Rubik&display=swap"); @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"); html,body,li,ul,p { margin:0; padding:0; font-family:"Rubik", "Arial", "sans-serif"; }

 a { text-decoration:none; color:inherit; }

 main { padding:105px 0; background-color:#f7f7f7; }

 @media (max-width:768px) { main { padding:75px 0; }

 }

 h1,h2,h3,h4 { color:#26607f; }

 p,li { line-height:1.5; }

 .btn { padding:20px; margin:0 15px; height:40px; display:flex; align-items:center; justify-content:center; border-radius:5px; transition:250ms; }

 .btn--cta { background-color:#36d183; }

 .btn--cta a { color:white !important; }

 .btn--cta:hover { background-color:#27ad6a; }

 .elementor-12 .elementor-element.elementor-element-ddd63e7 .elementor-button { background-color:#26607f !important; transition:250ms; }

 .elementor-12 .elementor-element.elementor-element-ddd63e7 .elementor-button:hover { background-color:#1a4258; }

 .elementor-button { background-color:#26607f !important; }

 .elementor-button:hover { background-color:#1a4258 !important; }

 .wpcf7 input[type="text"],.wpcf7 input[type="email"] { height:35px; border:1px solid #aaa; font-family:"Rubik", "Arial", "sans-serif"; font-size:14px; padding:5px; transition:400ms; border-radius:5px; }

 .wpcf7 input[type="text"]:focus,.wpcf7 input[type="email"]:focus { border:1px solid #26607f; }

 .wpcf7 textarea { resize:none; border-radius:5px; border:1px solid #aaa; }

 .wpcf7 input[type="submit"] { background-color:#26607f; color:white; border-radius:5px; cursor:pointer; font-size:16px; transition:400ms; }

 .wpcf7 input[type="submit"]:hover { background-color:#1a4258; }

 @keyframes fadeIn { 0% { opacity:0; }

 100% { opacity:1; }

 }

 @keyframes slideInLeft { 0% { opacity:0; transform:translateX(-100%); }

 100% { opacity:1; transform:translateX(0%); }

 }

 @keyframes slideDown { 0% { transform:translateY(-100%); }

 100% { transform:translateY(0%); }

 }

 @keyframes slideIn { 0% { opacity:0; transform:translateY(-10%); }

 100% { opacity:1; transform:translateY(0%); }

 }

 .link--primary { transition:400ms; color:#26607f; }

 .link--primary:hover { color:#327ea6; }

 .header { position:fixed; top:0; width:100%; z-index:3; background-color:white; box-shadow:0px 0px 10px #ccc; }

 .header__topbar { background-color:#26607f; padding:0% 8%; height:30px; color:white; display:flex; justify-content:flex-end; align-items:center; }

 .header__topbar ul { justify-content:center; display:flex; align-items:center; }

 .header__topbar li { flex-direction:column; justify-content:center; display:flex; margin-left:35px; align-items:center; }

 .header__main { height:100%; position:relative; display:flex; }

 .header__logo { display:flex; flex:1; height:75px; align-items:center; margin-left:5%; }

 .header__logo img { height:75px; width:150px; }

 @media (max-width:768px) { .header__logo img { height:50px; width:100px; }

 }

 .header__menu { display:flex; position:relative; flex:1.5; height:75px; margin-right:100px; justify-content:flex-end; align-items:center; }

 .header__menu ul { display:flex; justify-content:center; align-items:center; }

 .header__menu li { flex-direction:column; display:flex; padding:0 1rem; font-size:18px; }

 .header__menu a { color:black; transition:color 300ms ease; }

 .header__menu a:hover { color:#26607f; }

 .header__mobile { display:flex; flex:1; justify-content:flex-end; }

 .header__icons { display:flex; justify-content:center; align-items:center; }

 .header__icons .fas { font-size:1.75rem; padding:15px; color:#26607f; }

 .header__hamburger { display:flex; flex-direction:column; align-items:center; justify-content:center; background-color:#26607f; width:70px; cursor:pointer; }

 .header__hamburger span { height:4px; width:35px; margin-bottom:5px; border-radius:5px; background-color:white; transition:all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); }

 .header__hamburger.open span:nth-child(1) { transform:translateY(8px) rotate(45deg); }

 .header__hamburger.open span:nth-child(2) { opacity:0; }

 .header__hamburger.open span:nth-child(3) { transform:translateY(-10px) rotate(-45deg); }

 .subheader { height:200px; background-image:url("https://images.pexels.com/photos/544966/pexels-photo-544966.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); margin-bottom:75px; position:relative; }

 .subheader__overlay { position:absolute; top:0; background-color:rgba(0, 0, 0, 0.5); height:100%; width:100%; }

 .subheader h1 { color:white; }

 .mobilemenu { display:none; }

 @media (max-width:992px) { .mobilemenu { position:fixed; z-index:2; display:flex; top:0; padding-top:90px; margin:0; height:100vh; justify-content:center; width:100vw; background-color:#eee; transform:translateY(-100%); transition:400ms; }

 .mobilemenu.open { transform:translateY(0%); }

 .mobilemenu__list ul { display:flex; flex-direction:column; list-style:none; }

 .mobilemenu__list ul li { margin:15px; transform:translateX(-100%); transition:500ms; transition-delay:300ms; opacity:0; }

 .mobilemenu__list.open ul li { transform:translateX(0%); opacity:1; }

 .header__menu { display:none; }

 .header__menuicon { display:flex; }

 .header__topbar { display:none; }

 }

 .footer { color:white; padding:20px; background-image:url("https://www.debouwcombinatienc.nl/wp-content/uploads/2019/02/prism.png"); border-top:7px solid #26607f; }

 .footer__menu { flex-direction:column; display:flex; }

 .footer__menu h2 { color:white; }

 .footer__menu ul { list-style:none; }

 .footer__menu ul li { padding:2px 0; transition:500ms; }

 .footer__menu ul li:hover { color:#ebebeb; }

 .footer__menu ul li .fas { font-size:1.35rem; margin-right:10px; color:#26607f; }

 .footer__bottom { height:25px; display:flex; align-items:center; justify-content:flex-end; background-color:#202020; color:#ccc; font-size:0.6rem; }

 .footer h2 { font-family:"Montserrat", "Arial", "sans-serif"; font-size:18px; font-weight:bold; }

 .advertisement__label-heading { padding:0.5rem 1.25rem; background-color:red; color:#fff; width:100%; font-weight:800; font-size:1.5rem; border-top-left-radius:0.75rem; border-top-right-radius:0.75rem; }

 .advertisement__content__heading { font-weight:500; font-size:2.5rem; margin-bottom:1.25rem; }

 .advertisement__content { padding:1rem; background-color:#fff; color:#6d6d6d; font-size:2rem; }

 .service-card { box-shadow:0px 0px 10px #ccc; border-radius:5px; transition:400ms; background-color:white; cursor:pointer; margin:30px; border-top:5px solid #26607f; position:relative; }

 .service-card__icon { position:absolute; top:10px; left:10px; background-color:white; width:50px; height:50px; border-radius:50%; color:#26607f; font-size:1.5rem; box-shadow:0px 0px 10px #ccc; }

 .service-card__thumb { width:100%; }

 .service-card:hover { box-shadow:0 0 15px #aaa; }

 .hero { height:100vh; background-image:url("https://images.pexels.com/photos/544966/pexels-photo-544966.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); position:relative; margin-top:-105px; }

 .hero__overlay { position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.4); }

 .hero__box { background-color:rgba(0, 0, 0, 0.4); padding:20px; height:auto; width:800px; animation:slideIn 1s forwards; }

 @media (max-width:768px) { .hero__box { width:90%; }

 }

 .hero__box p,.hero__box h1,.hero__box h2,.hero__box h3 { color:white; }

 .hero__box h1 { font-size:36px; }

