.service-card {
  box-shadow: $box-shadow-setting;
  border-radius: $border-radius-button;
  transition: 250ms;
  background-color: white;
  cursor: pointer;
  margin: 30px;
  border-top: 5px solid $primary-color;
  position: relative;

  &__icon {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: $primary-color;
    font-size: 1.5rem;
    box-shadow: $box-shadow-setting;
  }

  &__thumb {
    width: 100%;
  }

  &:hover {
    box-shadow: 0 0 15px #aaa;
    transform: translateY(-2%);
  }
}
