.footer {
  color: white;
  padding: 20px;
  background-color: #353535;
  border-top: 7px solid $primary-color;
  &__menu {
    flex-direction: column;
    display: flex;

    h2 {
      color: white;
    }

    ul {
      list-style: none;

      li {
        padding: 2px 0;
        transition: 500ms;

        &:hover {
          color: #ebebeb;
        }

        .fas {
          font-size: 1.35rem;
          margin-right: 10px;
          color: $primary-color;
        }
      }
    }
  }
  &__bottom {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #202020;
    color: #ccc;
    font-size: 0.7rem;
  }
  & h2 {
    font-family: $heading-font;
    font-size: $h3-font-size;
    font-weight: bold;
  }
}
