@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

$main-text-font: "Rubik", "Arial", "sans-serif";
$heading-font: "Montserrat", "Arial", "sans-serif";

$h1-font-size: 36px;
$h2-font-size: 20px;
$h3-font-size: 18px;
$main-font-size: 14px;

$primary-color: #4b84af;
$cta-green: #6fcc80;
$backdrop: rgba(0, 0, 0, 0.6);

$box-shadow-setting: 0px 0px 10px #ccc;
$border-radius-button: 5px;
$button-padding: 10px;
